.autocomplete-container {
  position: relative;
  width: 100%;
}

.autocomplete-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  overflow-y: auto;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.autocomplete-item:hover {
  background-color: #d9d9d9;
}
