.loginContainer {
  display: flex;
  height: var(--global-height);
}

.loginImage {
  flex: 40%;
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.loginImage img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.loginContent {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.welcomeText {
  font-size: 60px;
  color: #1e1e1e;
  margin-top: -20px;
  margin-bottom: -0px;
}

.loginText {
  font-size: 60px;
  margin-bottom: 40px;
  color: #344d9c;
  font-weight: 600;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginInput {
  padding: 20px;
  border: none;
  background-color: #d9d9d9;
  color: #000000;
  border-radius: 10px;
  margin-bottom: 30px;
  font-family: "Outfit", sans-serif;
  width: 48%;
  font-size: 20px;
}

.loginInput::placeholder {
  color: #000000;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

.loginButton {
  padding: 20px;
  background-color: #484c52;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  width: 50%;
}

/* Responsive para Tablets */
@media (max-width: 1024px) {
  .loginImage {
    flex: 30%;
  }

  .loginContent {
    flex: 70%;
  }

  .welcomeText,
  .loginText {
    font-size: 50px;
  }

  .loginInput,
  .loginButton {
    width: 60%;
  }
}

/* Responsive para Teléfonos Móviles */
@media (max-width: 768px) {
  .loginImage {
    display: none;
  }

  .loginContent {
    flex: 100%;
    padding: 10px;
  }

  .welcomeText,
  .loginText {
    font-size: 40px;
  }

  .loginInput,
  .loginButton {
    width: 80%;
  }
}
