.management-container {
  display: flex;
  flex-direction: column;
  height: var(--global-height);
}

.navContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar {
  margin-bottom: 10px;
}

.details {
  padding: 20px;
  background-color: #d9d9d9;
}

.form-row {
  display: flex;
  align-items: start;
  gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-input-group label {
  margin-bottom: 5px;
}

.label-input-group input {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  height: 30px;
  transition: border 0.3s;
}

.input,
.textarea {
  width: 100%;
  box-sizing: border-box;
}

.textarea textarea {
  resize: vertical;
  height: 160px;
  min-height: 160px;
  max-height: 160px;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

/* Estilos básicos para todos los botones */
.actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Color específico para cada botón */
.btn-add {
  background-color: #4caf50;
}
.btn-edit {
  background-color: #ffc107;
}
.btn-save {
  background-color: #2196f3;
}
.btn-delete {
  background-color: #f44336;
}
.btn-cancel {
  background-color: #757575;
}

/* Efecto al pasar el cursor sobre el botón */
.actions button:hover {
  filter: brightness(0.9);
}

/* Efecto al presionar el botón */
.actions button:active {
  filter: brightness(0.8);
}

/* Efecto al deshabilitar el botón */
.actions button:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

/* Logica para cuando son disabled */
.actions button:disabled i {
  opacity: 0.6;
}

.actions button:disabled {
  background-color: #b0bec5;
  color: #787878;
  cursor: not-allowed;
}

.actions button:disabled:hover {
  filter: none;
}

@media (max-width: 1024px) {
  /* Ajustes para tablets aquí */
  .form-column {
    width: 50%; /* Esto hará que en tablets haya dos columnas */
  }
}

@media (max-width: 767px) {
  /* Ajustes para móviles aquí */
  .form-row {
    flex-direction: column; /* Esto hará que todos los hijos del form-row se apilen verticalmente */
  }
  .form-column,
  .label-input-group {
    width: 100%; /* Esto garantiza que cada sección use todo el ancho disponible en dispositivos móviles */
  }
  .details {
    padding: 15px; /* Reducir el padding en dispositivos móviles */
  }
}
